.category-btn {
  background-color: var(--grayBackground);
  color: var(--graphColor);
  border: .1rem solid var(--grayBackground);

  &:hover, &.active {
    color: var(--titleColor);
    
  }
  &.active {
    border-color: var(--primary);
    transition: all 150ms linear;
  }
}