.contact {
  
  .reach {
    color: var(--graphColor);
  }
  .contacts {
    color: var(--graphColor);
    >a:hover {
        color: var(--primary);
        transition: color .3s linear;
      }
  }

}