.contact {
  h3 {
    color: var(--titleColor);
  }
  /*label,*/ .desc {
    color: var(--graphColor);
  }
  .reach {
    color: var(--graphColor);
  }
  .contacts > a:hover {
    color: var(--primary);
    transition: color .3s linear;
  }
  // input, textarea {
  //     background-color: var(--inputBackground);

  //     transition: border-color .2s linear;
  //     border: 1px solid transparent;
  //     padding: 8px 16px;
  //     width: 100%;
      

  //     &:hover, &:focus {
  //       border-color: var(--primary);
  //     }
  //   }
  // button {
  //   background-color: var(--grayBackground);
   
  // }
}