@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6DC5D1;
  --bodyTheme: #000;
  --containerTheme: #18181b;
  --borderColor: #3f3f4666;
  --sectionPadding: 3rem;
  --grayBackground: #27272a;

  --darkYellow: #f4a5603f;
  --lightYellow: #f4a560bf;
  --sunYellow: #FFDB5C;
  /* --linksColor: #f4f4f5; */
  --titleColor: #f0f0f0;
  --graphColor: #a1a1aa;

  --inputBackground: #3f3f4666;

}
/**
Section Title: text-lg sm:text-xl lg:text-2xl
*/

.light {
    --grayBackground: red;
  
}

* {
  margin: 0;padding: 0;box-sizing: border-box;
}
body {
  background-color: var(--bodyTheme);
  color: #fff;
  /* height: 7000px; */
}

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.product-card .info {
  color: var(--graphColor);
}
.product-card .links>a {
  transition: all .3s linear;
  cursor: pointer;
}
.product-card .links > a:hover {
  color: var(--primary);
  transform: scale(1.2);
}
.container {
  width: 90%;
  background-color: var(--containerTheme);
  min-height: 100vh;
  border: 1px solid var(--borderColor);

  & > * {
    border-bottom: 2px solid var(--borderColor);
    padding: 0 3rem;
  }
  .hero,.contact,.footer, main, .about {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
  }
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
 
}


@media (max-width: 768px) {
  .container {
    width: 98%;
    & > * {
      padding: 0 1.5rem;
    }
  }
}

